body {
  background-image: url("../img/Connect\ 4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
  width: 100%;


}

header {
  color: black;
  text-align: center;
  width:1000px;
}

/* GameBoard */
.gameBoard {
  display: flex;
}

#gameCanvas {
  margin-left: 350px;
  /* padding-top: 40px; */
}

.col-selector {
  margin-left: 370px;
  padding-top: 95px;
}

.col-selector button{
  background-color:transparent;
  border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  

}


.nextPlayer{
  color:black;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 10px;
}

