body {
  background-image: url("../img/Connect\ 4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
  width: 100%;


}

header {
  color: black;
  text-align: center;
  width:1000px;
}

/* GameBoard */
.gameBoard {
  display: flex;
}

#gameCanvas {
  margin-left: 350px;
  /* padding-top: 40px; */
}

.col-selector {
  margin-left: 370px;
  padding-top: 95px;
}

#new-game {
  height: 50px;
  border-radius:6px;
  border:1px solid rgb(255, 225, 68);
  margin-left: -50px;
  margin-top: -40px;
}

button {
  background-color:rgb(140, 82, 255);
  border: none;
  color:rgb(255, 225, 68) ;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;

}


.col-selector button{
  background-color:transparent;

}

.col-selector {
  visibility: hidden;
}


.nextPlayer{
  color:black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.nextPlayer h2:first-child{
  padding-right: 100px;
}

.nextPlayer h1{
  padding-right: 150px;
}

.nextPlayer h2:nth-child(3){
  padding-right: 50px;
  padding-top: 10px;
}


/* Callout box - fixed position at the bottom of the page */
.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: rgb(140, 82, 255);
  font-size: 30px;
  color: rgb(255, 225, 68);
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

/* Close button */
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: lightgrey;
}